.indexHeader{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}

.indexBody{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #3C6E71;
	margin:0;
	padding:0;
}

.indexWrapper{
	display: flex;
	background-color: #353535;
	justify-content: center;
	padding: 20px;
	border-radius: 20px;
	color: white;
	font-family: Consolas;
}
.flexBody{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #3C6E71;
	margin:0;
	padding:0;
}

.flexWrapper{
	display: flex;
	background-color: #353535;
	justify-content: center;
	flex-direction: column;	
	height: 50%;
	width: 50%;
	padding: 15px;
	border-radius: 20px;
	color: white;
	font-family: Consolas;
}

.flexWrapperInside{
	background-color: white;
	height: 100%;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	overflow-y: scroll;
}

.insideMenuHeader{
	color: white;
	font-size: 25px;
	font-weight: bolder;
	text-align: center;
}


button{
	background: #ff0000;
	width:100%;
	color: white;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	font-family: Consolas;
	font-weight: bolder;
	margin-top: 2%;
	float: right;
}

button:hover{
	background-color:  #cc0000;
	cursor: pointer;
}

.hjemButton{
	width: auto;
	margin-top: 2%;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	font-family: Consolas;
	font-weight: bold;
	color: black;
	text-decoration: none;
	border: 1px solid #353535;
	background-color: #b2c2bf;
}

table{
	width:100%;
	height: auto;
	border-radius: 10px;
	color: black;
	font-size: 20px;
	text-align: center;
}

th, td, tr{
	border: 1px solid #353535;
	padding: 10px;
	background-color: #b2c2bf;
	border-radius: 10px;
	font-family: Consolas;
}

th{
	background-color: #353535;
	color: white;
}

td:hover{
	background-color: #8da5a1;
}

td a{
	display: block;
	text-decoration: none;
	color: black;
}

input[type=text], input[type=PASSWORD]{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Consolas;
    font-weight: bold;
    box-sizing: border-box;
}

input[type=submit]{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid;
    border-radius: 4px;
    background-color: #4CAF50;
    font-family: Consolas;
    cursor: pointer;
}

input[type=submit]:hover{
	background-color: #45a049;
}