.indexHeader{
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
}

.indexBody{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #3C6E71;
	margin:0;
	padding:0;
}

.indexWrapper{
	display: flex;
	background-color: #353535;
	justify-content: center;
	padding: 20px;
	border-radius: 20px;
	color: white;
	font-family: Consolas;
}

.superHeader{
	color: white;
	font-size: 40px;
	font-weight: bolder;
	text-align: center;
	font-family: Consolas;
}

.flexTop{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
		top:0;
		left:0;
		right:0;
	background-color: #353535;
	width: 100%;
	height: 90px;
}

.flexBody{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #3C6E71;
	margin:0;
	padding:0;
}

.flexWrapper{
	display: flex;
	background-color: #353535;
	justify-content: center;
	flex-direction: column;
	height: 50%;
	width: 70%;
	padding: 15px;
	border-radius: 20px;
	margin-top: 90px;
	color: white;
	font-family: Consolas;
}

.flexWrapperInside{
	background-color: white;
	height: 100%;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	overflow-y: scroll;
}

.insideMenuHeader{
	color: white;
	font-size: 25px;
	font-weight: bolder;
	text-align: center;
}

.festivalHeader{
	width: 100%;
	text-align: center;
	color: black;
	font-size: 23px;
	font-weight: bolder;
	background-color: #99c5aa;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 0;
}

button{
	background: #ff0000;
	color: white;
	border-radius: 10px;
	margin-right: 20px;
	text-align: center;
	padding: 15px 30px 15px 30px;
	font-family: Consolas;
	font-weight: bolder;
}

button:hover{
	background-color:  #cc0000;
	cursor: pointer;
}

.hjemButton{
	border-radius: 10px;
	padding: 15px 30px 15px 30px;
	margin-left: 20px;
	text-align: center;
	font-family: Consolas;
	font-weight: bold;
	color: black;
	text-decoration: none;
	background-color: #b2c2bf;
}

.hjemButton:hover{
	background-color:  #7e9a95;
}

.helleButton{
	width: auto;
	margin-top: 2%;
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	font-family: Consolas;
	font-weight: bold;
	color: black;
	text-decoration: none;
	border: 1px solid #353535;
	background-color: #b2c2bf;
}

.helleButton:hover{
	background-color: #7e9a95;
}

table{
	width:100%;
	height: auto;
	border-radius: 10px;
	color: black;
	font-size: 20px;
	text-align: center;
}

th, td, tr{
	border: 1px solid #353535;
	padding: 10px;
	background-color: #b2c2bf;
	border-radius: 10px;
}

.thUnitEditing{
	background-color: #353535;
}

.tdUnitEditing{
	padding: 0px;
}

.finished > td{
  background-color: #57625f;
}

.started > td{
  background-color: #88cc88;
}

.unStarted > td{
  background-color: #99c5aa;
}


th{
	background-color: #353535;
	color: white;
}

td a{
	display: block;
	text-decoration: none;
	color: black;
}

input[type=text], input[type=PASSWORD], input[type=date], input[type=time], input[type=email], input[type=number]{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Consolas;
    font-weight: bold;
    box-sizing: border-box;
}

select, option{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Consolas;
    font-weight: bold;
    box-sizing: border-box;
}

input[type=submit]{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid;
    border-radius: 4px;
    background-color: #4CAF50;
    font-family: Consolas;
    font-size: 17px;
    cursor: pointer;
    font-weight: bolder;
}

input[type=submit]:hover{
	background-color: #45a049;
}
